
.product-card{
  width: 200px;
  height: 300px;
  background-color: #fff;
  color: #27272a;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  & img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 5px;
  }

  & h5 {
    margin: 5px;
  } 

  & .thumbnail{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.product-card:hover{
  outline: 3px solid #d4d4d8;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.product-btns{
  width: 50%;
  display: flex;
  position: relative;
  top: 65px;
  right: 60px;
  align-items: center;
  justify-content: space-around;

    & button {
      aspect-ratio: 1/1;
      border-radius: 50%;
      padding: 15px;
      background-color: #fff;
      color: #2d2d2d;
    }
}

.product-btns:hover{
  button{
    background-color: #2d2d2d;
    color: #fff;
  }
}

.price{
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  font-size: large;
  > small {
    opacity: 0.7;
    font-size: small;
  }
}

.discount{
  position: relative;
  top: 40px;
  left: 175px;
  font-size: small;
  font-weight: 500;
  color: #d4d4d8;
  background-color: #fd384f;
  padding: 2px;
  border-radius: 5px;
}